
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.251);
  border-top: 1px solid rgba(0, 0, 0, 0.251);
   margin: 2rem 3rem 0 3rem;
  padding: 1.5rem 2rem;
}

.menu,
.social,
.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.579);
    font-weight: 400;
  }
}
.list {
  list-style: none;
  padding: 0;
  color: black;
  li {
    padding-bottom: 1rem;
  

  }
}
.link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.copyright{
  margin: 1rem ;
}

/* Nettbrett (768px – 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer{
    margin: 0 auto;
  }
  .footerContainer {
    justify-content: space-around;
    padding: 1.5rem 2rem;
  }
}

/* Mobil */
@media (max-width: 767px) {
  .footerContainer {
    justify-content: space-between;
    margin: 2rem 1rem 0 1rem;
    padding: 2.5rem 1rem;
  }
}