/* Desktop */
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.251);
  border-top: 1px solid rgba(0, 0, 0, 0.251);
  margin: 2rem 3rem 0 3rem;
  padding: 0.5rem 2rem;
  .navList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
  }
}
.navLink {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0.5rem 1rem;
}
.navList :hover {
  background: #eddd53;
  background: radial-gradient(
    circle,
    rgba(237, 221, 83, 0.5) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* Nettbrett (768px – 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 250px;
    height: 65px;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .navContainer {
    border-top: none;
    margin: 0rem 1rem 2rem 1rem;
    padding: 2rem 1.5rem;
  }
  .navList {
    display: none;
    li {
      display: none;
    }
  }
  .logo {
    margin: 0;
    width: 300px;
    height: 70px;
  }
}
